<!DOCTYPE html>
<html lang="en">
<head>
	<title>My Game List</title>
	<meta name="desciption" content="Find, Review, and get Game Recommendations">
	<meta name="author" content="RACCHUS">
	<meta name="keywords" content="Gaming">
	<meta property="og:title" content="MyGameList">
	<meta property="og:type" content="website">
	<meta property="og:description" content="MyGameList Homepage: Find, Review, and get Game Recommendations">
	<!-- <meta property="og:url" content="https://pavetheworld.000webhostapp.com/"> -->
	<meta property="article:21:46:00" content="2022-11-18">
	<meta property="article:21:46:00" content="2022-11-18">
	<%- include('partials/Meta') %>
	<link rel="icon" href="favicon.ico">
	<link rel="stylesheet" href="style.css">
</head>
<body>
<!--   <h1>Welcome <%= typeof name !== 'undefined' ? name : '' %>!</h1> -->
  <p id="construction" >Under Construction</p>
      <div class="login-menu">
          <%- include('partials/login-menu') %>
      </div>
      <div class="navbar">
          <%- include('partials/navbar') %>
      </div>
      <!-- <div class="container" id="main-content"></div> -->
    <main>
        <h2>Welcome to MyGameList!</h2>
        <script type="text/javascript" src="testscript.js"></script>
        <button onclick="myFunction();">Check Date</button>
        <p id="demo"></p>
  <%- include('partials/game') %>
    </main>
    <footer>
        <%- include('partials/footer') %>
    </footer>
</body>
</html>